/******************************
* Main Navigation Components
/******************************/

/* Main Nav Items */
.nav-item {
	@apply px-2 py-2 mt-2 text-sm uppercase font-semibold border-b-2 border-gray-900 transition duration-300 ease-in-out
}

.nav-item:visited {
	@apply text-white border-gray-900
}

.nav-item.selected,
.nav-item:hover {
	@apply border-red-600
}

/* Main Nav Dropdown Menu Items */
.nav-dropdown-item {
	@apply block px-4 py-2 text-sm font-semibold rounded
}

.nav-dropdown-item:hover {
	@apply text-white bg-red-500
}

/* Footer Nav Items*/
.watermark {
	background-image: url(../../assets/img/layout/wbm-watermark.svg);
}

.footer-link-icon {
	@apply inline-block w-4 h-4 mr-3 pt-2
}

.footer-link {
	@apply inline-block mb-1 px-3 py-2 text-white transition duration-300 ease-in-out tracking-tight
}

.footer-link:hover {
	@apply text-red-600
}

@screen md {
	.footer-link {
		@apply p-1
	}
}

/* Buttons */
.btn-red:visited {
	@apply bg-red-500
}

.btn-gray:visited {
	@apply bg-gray-700
}

.btn {
	@apply inline-flex items-center justify-center transition duration-200 ease-in-out text-white font-bold uppercase text-sm px-4 py-2 rounded shadow outline-none 
}

.btn:hover {
	@apply shadow-md
}

.btn:focus {
	@apply outline-none
}

.btn-red {
	@apply bg-red-500 
}

.btn-red:hover {
	@apply bg-red-800
}

.btn-gray {
	@apply bg-gray-700 
}

.btn-gray:hover {
	@apply bg-gray-600
}

.exhibitor-profile ul {
	@apply ml-8 mb-5 list-disc
}

.smallprint 
	h4 {
		@apply mt-10 mb-1 font-semibold uppercase
	}

	p {
		@apply mb-4
}

.hero, .feature-1 {
  	background-blend-mode: soft-light;
}

.webp .hero {
	background-image: url(../../assets/img/layout/tomorrows-warehouse-hero-3.webp);
}

.webp .intro {
	background-image: url(../../assets/img/layout/intro-2-compressed.webp);
}

.webp .home-why-visit {
	background-image: url(../../assets/img/layout/why-visit-2-compressed.webp);
}

.webp .home-why-exhibit {
	background-image: url(../../assets/img/layout/why-exhibit-1-compressed.webp);
}

.webp .feature-1 {
	background-image: url(../../assets/img/layout/feature-3-compressed.webp);
}

.webp .home-register {
	background-image: url(../../assets/img/layout/register-2-compressed.webp);
}

.webp .parallax-visit {
	background-image: url(../../assets/img/layout/feature-3-compressed.webp);
}

.webp .parallax-exhibit {
	background-image: url(../../assets/img/layout/feature-4-compressed.webp);
}

.webp .feature-visit-exhibitors {
	background-image: url(../../assets/img/layout/factory-2-compressed.webp);
}

.webp .feature-visit-seminars {
	background-image: url(../../assets/img/layout/conference-1-compressed.webp);
}

.webp .feature-visit-register {
	background-image: url(../../assets/img/layout/why-exhibit-1-compressed.webp);
}

.webp .feature-exhibit-media-pack {
	background-image: url(../../assets/img/layout/robotics-2-compressed.webp);
}

.webp .feature-exhibit-exhibitor-list {
	background-image: url(../../assets/img/layout/network-1-compressed.webp);
}

.webp .feature-exhibit-contact {
	background-image: url(../../assets/img/layout/register-2-compressed.webp);
}

.webp .why-visit {
	background-image: url(../../assets/img/layout/why-visit-3-compressed.webp);
}

.webp .why-exhibit {
	background-image: url(../../assets/img/layout/why-exhibit-1-compressed.webp);
}

.webp .seminars-automation {
	background-image: url(../../assets/img/layout/feature-2-no-overlay-compressed.webp);
}

.webp .seminars-future-storage {
	background-image: url(../../assets/img/layout/storage-1-compressed.webp);
}

.webp .seminars-robotics {
	background-image: url(../../assets/img/layout/robotics-2-compressed.webp);
}

.webp .seminars-future-forklift {
	background-image: url(../../assets/img/layout/forklift-1-compressed.webp);
}

/*! purgecss start ignore */
.no-webp .hero  {
	background-image: url(../../assets/img/layout/tomorrows-warehouse-hero-3-compressed.jpg);
}

.no-webp .intro {
	background-image: url(../../assets/img/layout/intro-2-compressed.jpg);
}

.no-webp .home-why-visit {
	background-image: url(../../assets/img/layout/why-visit-2-compressed.jpg);
}

.no-webp .home-why-exhibit {
	background-image: url(../../assets/img/layout/why-exhibit-1-compressed.jpg);
}

.no-webp .feature-1 {
	background-image: url(../../assets/img/layout/feature-3-compressed.jpg);
}

.no-webp .home-register {
	background-image: url(../../assets/img/layout/register-2-compressed.jpg);
}

.no-webp .parallax-visit {
	background-image: url(../../assets/img/layout/feature-3-compressed.jpg);
}

.no-webp .parallax-exhibit {
	background-image: url(../../assets/img/layout/feature-4-compressed.jpg);
}

.no-webp .feature-visit-exhibitors {
	background-image: url(../../assets/img/layout/factory-2-compressed.jpg);
}

.no-webp .feature-visit-seminars {
	background-image: url(../../assets/img/layout/conference-1-compressed.jpg);
}

.no-webp .feature-visit-register {
	background-image: url(../../assets/img/layout/why-exhibit-1-compressed.jpg);
}

.no-webp .feature-exhibit-media-pack {
	background-image: url(../../assets/img/layout/robotics-2-compressed.jpg);
}

.no-webp .feature-exhibit-exhibitor-list {
	background-image: url(../../assets/img/layout/network-1-compressed.jpg);
}

.no-webp .feature-exhibit-contact {
	background-image: url(../../assets/img/layout/register-2-compressed.jpg);
}

.no-webp .why-visit {
	background-image: url(../../assets/img/layout/why-visit-3-compressed.jpg);
}

.no-webp .why-exhibit {
	background-image: url(../../assets/img/layout/why-exhibit-1-compressed.jpg);
}

.no-webp .seminars-automation {
	background-image: url(../../assets/img/layout/feature-2-no-overlay-compressed.jpg);
}

.no-webp .seminars-future-storage {
	background-image: url(../../assets/img/layout/storage-1-compressed.jpg);
}

.no-webp .seminars-robotics {
	background-image: url(../../assets/img/layout/robotics-2-compressed.jpg);
}

.no-webp .seminars-future-forklift {
	background-image: url(../../assets/img/layout/forklift-1-compressed.jpg);
}

/*! purgecss end ignore */