/******************************
* Main Navigation Components
/******************************/

/* Main Nav Items */
.nav-item {
	@apply px-2 py-2 mt-2 text-sm uppercase font-semibold border-b-2 border-gray-900 transition duration-300 ease-in-out
}

.nav-item.selected,
.nav-item:hover {
	@apply border-red-600
}

.nav-item:visited {
	@apply text-white border-gray-900
}

.nav-item.selected {
	@apply border-red-600
}

/* Main Nav Dropdown Menu Items */
.nav-dropdown-item {
	@apply block px-4 py-2 text-sm font-semibold rounded
}

.nav-dropdown-item:hover {
	@apply text-white bg-red-500
}

/* Footer Nav Items*/
.footer-link-icon {
	@apply inline-block w-4 h-4 mr-3 pt-2
}

.footer-link {
	@apply inline-block mb-1 px-3 py-2 text-white transition duration-300 ease-in-out tracking-tight
}

.footer-link:hover {
	@apply text-red-600
}

@screen md {
	.footer-link {
		@apply p-1
	}
}

/* Buttons */
.btn-red:visited {
	@apply bg-red-500
}

.btn-gray:visited {
	@apply bg-gray-700
}

.btn {
	@apply inline-flex items-center justify-center transition duration-200 ease-in-out text-white font-bold uppercase text-sm px-4 py-2 rounded shadow outline-none 
}

.btn:hover {
	@apply shadow-md
}

.btn:focus {
	@apply outline-none
}

.btn-red {
	@apply bg-red-500 
}

.btn-red:hover {
	@apply bg-red-800
}

.btn-gray {
	@apply bg-gray-700 
}

.btn-gray:hover {
	@apply bg-gray-600
}

.exhibitor-profile ul {
	@apply ml-8 mb-5 list-disc
}

.smallprint 
	h4 {
		@apply mt-10 mb-1 font-semibold uppercase
	}

	p {
		@apply mb-4
}